---
import Section from "../../layouts/Section.astro";
---

<Section title="Experiencia laboral" styles="max-w-[1024px]">
  <svg
    slot="icon"
    class="size-10 mt-1"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
    ></path>
    <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
    <path d="M12 12l0 .01"></path>
    <path d="M3 13a20 20 0 0 0 18 0"></path>
  </svg>

  <ol class="relative mt-16">
    <li>
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-33px] before:block before:h-full before:border-l-2 before:border-purple-600 before:content-[''] md:grid-cols-6 md:gap-10 md:space-x-4]"
      >
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-purple-600 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-2xl font-bold text-purple-900">
              Desarrollador web
            </h3>
            <a href="https://novanet.studio/">
              <h4
                class="font-semibold text-xl text-lite-700 hover:text-lite-900 transition-all"
              >
                Novanet Studio
              </h4>
            </a>

            <time class="p-0 m-0 text-sm text-lite-700">Actualmente...</time>
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-purple-800 font-medium md:col-span-4"
        >
          <ul>
            <li class="list-disc">
              Llevé a cabo la revisión y actualización de 5+ plataformas web
              existentes, logrando una reducción del 20% en los tiempos de
              carga.
            </li>
            <li class="list-disc">
              Implemente módulos de pago c2p en 3 plataformas en integración
              directa con sistemas ERP, gestionando mas de 200 transacciones
              diarias y reduciendo el tiempo de cierre de facturas de clientes
              en un 60%.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li>
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-33px] before:block before:h-full before:border-l-2 before:border-purple-600 before:content-[''] md:grid-cols-6 md:gap-10 md:space-x-4]"
      >
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-purple-600 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-2xl font-bold text-purple-900">
              Analista de desarrollo
            </h3>
            <h4 class="font-semibold text-xl text-lite-700">
              Spartan Techs C.A.
            </h4>
            <time class="p-0 m-0 text-sm text-lite-700"
              >Oct 2021 - Feb 2025</time
            >
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-purple-800 font-medium md:col-span-4"
        >
          <ul>
            <li class="list-disc">
              Analicé requisitos de más de 15 clientes, desarrollando
              estrategias de gestión de proyectos que optimizaron los tiempos de
              desarrollo en un 20%.
            </li>

            <li class="list-disc">
              Diseñé y desarrollé aplicaciones empresariales utilizadas por más
              de 200 usuarios activos, integrando funciones avanzadas como
              control de inventarios y análisis de costos.
            </li>
            <li class="list-disc">
              Participé rotativamente en equipos de desarrollo Frontend y
              Backend, implementando soluciones que redujeron los errores de
              integración en un 15%.
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ol>
</Section>
