---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

//? Sections
import Welcome from "../components/sections/Welcome.astro";
---

<Layout>
  <Section>
    <Welcome />
  </Section>
</Layout>
