---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="mx-auto w-full max-w-[1024px]">
    <div class="px-4 py-6 md:flex md:items-center md:justify-between">
      <span class="text-sm text-lite-600 sm:text-center">
        &COPY; 2024 <a href="https://flowbite.com/">Eliezer A Meza</a>. All
        Rights Reserved.
      </span>
      <div
        class="flex mt-4 sm:justify-center md:mt-0 space-x-5 rtl:space-x-reverse"
      >
        <a
          href="https://www.linkedin.com/in/eliezer-a-meza-7a1b882b9/"
          class="text-lite-600 hover:text-lite-900"
        >
          <Icon name="linkedin" slot="icon" class="w-6 h-6" />

          <span class="sr-only">LinkedIn account</span>
        </a>

        <a
          href="https://github.com/EliezerMezaDev"
          class="text-lite-600 hover:text-lite-900"
        >
          <Icon name="github" slot="icon" class="w-6 h-6" />

          <span class="sr-only">GitHub account</span>
        </a>
      </div>
    </div>
  </div>
</footer>
