---

---

<nav class="max-w-screen w-full p-2 flex justify-around items-center">
  <div class="p-2 rounded bg-purple-900 text-lite-400 hidden sm:block">EMZ</div>

  <ul class="flex gap-4">
    <li class="text-purple-900 hover:text-purple-600">
      <a href="#">Inicio</a>
    </li>

    <li class="text-purple-900 hover:text-purple-600">
      <a href="#">Proyectos</a>
    </li>
    <li class="text-purple-900 hover:text-purple-600">
      <a href="#">Contacto</a>
    </li>
  </ul>
</nav>
